@import "tailwindcss";

:root {
  --background: #f4f4f4;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-telegraf);
  --font-mono: var(--font-telegraf);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Telegraf, sans-serif;
}

ol, ul {
  margin-bottom: 1rem;
}

ol {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 2rem;
}

ol li {
  counter-increment: my-counter;
}

ol li::before {
  content: counter(my-counter) ". ";
  font-size: 1.2em;
  font-weight: 800;
  margin-right: 1em;
}

ul {
  list-style: square;
  padding-left: 2rem;
}

ul li {
  margin-left: 1em;
}
